@font-face {
    font-family: 'Cousine';
    src: url('/fonts/Cousine-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-feature-settings: normal;
    font-variant-ligatures: none;
    text-rendering: optimizeSpeed;
}

html,
body,
#root{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}